body {
  background-image: url("./images/1_tuOJpvmCF1Par3wrCUnJ_Q.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  overflow: hidden;
  font-family: sans-serif;
  color: #535e7ef0;
}

#centerDiv {
  width: 500px;
  height: 600px;
  background-color: white;
  border: 4px solid #535e7ef0;
  box-shadow: 12px 6px 8px #535e7ef0;
  border-radius: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

h2 {
  display: none;
  position: absolute;
  font-size: 70px;
  top: 150px;

  left: 80px;
  color: #535e7ef0;
  padding: 10px;
  background-color: white;
  border: 4px solid #535e7ef0;
  /* box-shadow: 12px 6px 8px #535e7ef0; */
  border-radius: 18px;
}

#addItem {
  font-size: 34px;
  padding: 10px;
  margin-left: 30px;
  margin-top: 15px;
  border: 4px solid #535e7ef0;
  border-radius: 5px;
  color: #535e7ef0;
}
#addItem:focus {
  border: 4px solid #535e7ef0;
}

#taskBtn {
  position: absolute;
  top: 112px;
  right: 576px;
  border-radius: 50%;
  width: 42px;
  height: 39px;
  cursor: pointer;
}

#showTask {
  font-size: 12px;
  margin-left: 33px;
  margin-top: 10px;
}

#showTask span {
  cursor: pointer;
  margin: 0px 3px;
}
.taskInfo {
  font-size: 24px;
  position: relative;
  width: 88%;
  margin: 20px auto 0px auto;
  box-sizing: border-box;
  padding: 5px;
}
.chkBox {
  height: 16px;
  width: 16px;
  accent-color: #535e7ef0;
}
.deleteBtn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 16px;
  position: absolute;
  top: 8px;

  right: 38px;
}
